#golden-retriever {
  display : none;
}

#chihuahua {
  display : none;
}

#pug {
  display : none;
}

#bernese {
  display : none;
}
#return-button {
  display : none;
}
.inputWidth {
  width: 200px;
}