/* Initially hide results until submit */

#golden-retriever {
  display : none;
}

#chihuahua {
  display : none;
}

#pug {
  display : none;
}

#bernese {
  display : none;
}
#return-button {
  display : none;
}

/* Header holding image */
.header {
  position: relative;
}


/* input width in form */

.inputWidth {
  width: 200px;
}


/* body styling */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: beige;
}

h1.intro {
  color: orange;
  text-align: center;
  background-color: aquamarine;
}

h2.intro {
  color: black;
  text-align: center;
  font-family: 'Courier New', Courier, monospace
}


/* form styling */
.panel-body {
  float: left;
  
  margin: 15px;
  background-color: aquamarine;
}

div.form
{
    display: block;
    text-align: center;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

/* button styling */


.btn {
  margin-top: 10px;
  color: black;
  background-color: orange;
}

.btn-return { 
  color: black;
  background-color: orange;
}


/* image styling */

img {
  border-radius: 50%;
  margin: 0 auto;
  
}

.image-wrapper {
  display: inherit;
  text-align: center;
}

